<div>
    <fieldset>
        <label>Firma:</label><span id="nome"></span>
    </fieldset>

    <fieldset>
        <div>
            <label>Endereço:</label><span id="endereco"></span>
        </div>
        <div>
            <label>Bairro:</label><span id="bairro"></span>
        </div>
    </fieldset>
    <fieldset>
        <div>
            <label>Cidade:</label><span id="cidade"></span>
        </div>
        <div>
            <label>Estado:</label><span id="estado"></span>
        </div>
    </fieldset>
    <fieldset>
        <div>
            <label>Período:</label><span id="periodo"></span>
        </div>
        <div>
            <label>Cargo:</label><span id="cargo"></span>
        </div>
    </fieldset>
    <fieldset>
        <label>Funções Desempenhadas:</label><span id="funcoesdesempenhadas"></span>
    </fieldset>
</div>